 <!-- About Section -->
    <section class="" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>EC 24th Members</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
            {% for member in site.members %}
                    <div class="col-sm-6 col-md-6 col-lg-4 portfolio-item member">
                   <img class="pic img-rounded" src="img/member/{{ member.img }}" class="img-responsive" alt="{{ member.name }}">
                    <p class="name text-center">{{member.name}}</p>
                    <p class="description text-center">{{member.description}}</p>
               </div>
            {% endfor %}

            </div>
        </div>
    </section>
