 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>여기로 오세요</h2>
                    <hr class="star-primary">
                    <!-- <img class="full-width" src="http://maps.googleapis.com/maps/api/staticmap?center=37.629279,127.081541&zoom=17&size=1280x480&markers=color:red%7C37.629479,127.081541&markers=size:tiny&sensor=false"> -->
                    <div class="row">
                        <div class="col-lg-6">
                        <!-- 지도 추가하든가 뭐 맘대로 -->
                        </div>
                        <div class="col-lg-6">
                            <!-- 박성혁, 조덕주 전화번 -->
                            <h3>
                            <pre>전화번호 : 회장 박성혁 010 - 6819 - 0230<br>           부회장 조덕주 010 - 9930 - 1668
                            </pre>
                            </h3>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
