 <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>여기로 오세요</h2>
                    <hr class="star-primary">
                    <img class="full-width" src="http://maps.googleapis.com/maps/api/staticmap?center=37.629279,127.081541&zoom=17&size=1280x480&markers=color:red%7C37.629479,127.081541&markers=size:tiny&sensor=false">
                </div>

            </div>
        </div>
    </section>
