 <!-- Contact Section -->
    <section id="timetable">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>TIMETABLE</h2>
                    <hr class="star-primary">
                    <div class="row">
                        <div class="hidden-xs hidden-sm col-md-1 col-lg-2">
                        </div>
						
						<div class="col-md-10 col-lg-8">
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">13:30~13:40</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<h4>오프닝 및 지도교수 축사</h4>
                            	</div>
                            	<div class="col-sm-2">
                            		<h4>김태희</h4>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">13:40~14:00</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>Phone Stack</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>신준수</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">14:00~14:20</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>레이저 장기</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>주현석</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            	</div>
                            	<div class="col-sm-7 text-right">
                            		<p class="break">Coffee Break 10m</p>
                            	</div>
                            	<div class="col-sm-2">
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">14:30~14:50</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>Video The Gathering</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>윤현진</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">14:50~15:10</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>셀프카메라 좀 더 즐기기</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>진상우</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">15:10~15:30</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>영단樂</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>허수정</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            	</div>
                            	<div class="col-sm-7 text-right">
                            		<p class="break">Coffee Break 10m</p>
                            	</div>
                            	<div class="col-sm-2">
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">15:40~16:00</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>별게多</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>이지원</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">16:00~16:20</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>PHOTO DIARY</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>김지혜</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">16:20~16:40</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>I SEE THROUGH YOU</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>조정흠</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            	</div>
                            	<div class="col-sm-7 text-right">
                            		<p class="break">Coffee Break 10m</p>
                            	</div>
                            	<div class="col-sm-2">
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">16:50~17:10</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>강의사냥</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>윤영주</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">17:10~17:30</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>LX Alarm</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>이상진</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            	</div>
                            	<div class="col-sm-7 text-right">
                            		<p class="break">Coffee Break 20m</p>
                            	</div>
                            	<div class="col-sm-2">
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">17:50~18:00</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>상장 수여 및 시상식</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>이창훈</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">18:00~18:20</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>2014년 Endless Creation 활동내역 발표 및 클로징</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>조덕주</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">18:20~18:30</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>사진촬영</p>
                            	</div>
                            	<div class="col-sm-2">
                            	</div>
                            </div>
                        </div>                        
                        
                        <div class="hidden-xs hidden-sm col-md-1 col-lg-2">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
