 <!-- Contact Section -->
    <section id="timetable">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>TIMETABLE</h2>
                    <hr class="star-primary">
                    <div class="row">
                        <div class="hidden-xs hidden-sm col-md-1 col-lg-2">
                        </div>
						
						<div class="col-md-10 col-lg-8">
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">15:00~15:10</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<h4>오프닝</h4>
                            	</div>
                            	<div class="col-sm-2">
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">15:10~15:30</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>OX! 안전왕이 될거야!</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>김재완</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">15:30~15:50</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>블루라이트 차단 필터</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>신준수</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            	</div>
                            	<div class="col-sm-7 text-right">
                            		<p class="break">Coffee Break 10m</p>
                            	</div>
                            	<div class="col-sm-2">
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">16:00~16:20</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>Dual Personalityg</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>조영진</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">16:20~16:40</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>Gesture</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>주민기</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">16:40~17:00</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>달무리</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>태승환</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            	</div>
                            	<div class="col-sm-7 text-right">
                            		<p class="break">Coffee Break 20m</p>
                            	</div>
                            	<div class="col-sm-2">
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
	                            		<h4 class="time">17:20~17:30</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>시상식</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p></p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">17:30~17:50</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>2014년 Endless Creation 활동내역 발표 및 클로징</p>
                            	</div>
                            	<div class="col-sm-2">
                            		<p>조덕주</p>
                            	</div>
                            </div>
                            
                            <div class="row">
                            	<div class="col-sm-3">
                            		<h4 class="time">17:50~18:00</h4>
                            	</div>
                            	<div class="col-sm-7">
                            		<p>사진촬영</p>
                            	</div>
                            	<div class="col-sm-2">
                            	</div>
                            </div>
                        </div>                        
                        
                        <div class="hidden-xs hidden-sm col-md-1 col-lg-2">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
